@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fafafa;
    position: relative;
    font-size: 16px;
}

.container {
    width: 640px;
    padding: 0 16px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: #ffff;
    height: 80px;
    margin-bottom: 20px;
    border-bottom:  1px solid #c4c4c4;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__items {
    margin: 0 -15px;
}

.header__item {
    margin: 0 15px;
}

.stories {
    border: 1px solid #c4c4c4;
    display: flex;
    background-color: #fafafa;
    justify-content: space-between;
    padding: 24px;
    margin-bottom: 20px;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story__gr {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
    background: linear-gradient(45deg, rgb(26, 252, 201), rgb(39, 166, 252));
    border-radius: 50%;
}

.story__gr-img {
    width: 76px;
    height: 76px;
    margin:2px;
    border: 2px solid #ffff;
    border-radius: 50%;
}

.story__name {
    font-size: 14px;
}

.post {
    margin-bottom: 30px;
    border: 1px solid #c4c4c4;
    background-color: #ffff;
        margin-bottom: 90px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-bottom: 1px solid #c4c4c4;
}

.post__publisher-image {
    margin-right: 16px;
    width:40px;
    height:40px;
    border-radius: 100px;
   object-fit: cover;
}

.like__text {
    font-weight: 700;

}

.post__publisher-name{
    font-weight: 700;
        vertical-align: 13px;
}

.post__img {
    display: block;
    width: 100%;
    height:606.4px;
    object-fit: cover;
}

.post__footer {
    border-top: 1px solid #c4c4c4;
    padding: 15px 24px;
}

.like {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.like__image,
.comment__image {
    margin-right: 16px;
}

.comment__image {
    width:32px;
    height: 30px;
}

.description,
.description__comment {
    display: flex;
    align-items: flex-start;
}

.description__publisher,
.description__publisher__comment {
    font-weight: 700;
    margin-right: 16px;
}

.view_all_comments,
.description__comment,
.published {
    margin-bottom:10px;
}

.published_date,
.description__publisher__date {
    font-weight:300;
    font-size:13px;
}

.all_comments {
    font-weight:300;
    font-size:14px;
    color:black;
    text-decoration: none!important;
}

.like__comment-img {
    weight:15px;
    height:15px;
}

.description__comment {
    justify-content: space-between;
}

.post__comment__like {
    margin-left: auto;
}

.post__comment {
    padding: 5px 24px;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffff;
    height: 70px;
    border-top:  1px solid #c4c4c4;
    bottom:0;
    position: fixed;
}

.footer__items {
    display: flex;
    align-items: center;
    background-color: #ffff;
    justify-content: space-between;
    padding: 15px 100px;
}

.footer_bar {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
}

.footer_bar:nth-child(2) {
    width: 39px;
    height: 39px;
}

.comment-box {
    display:flex;
    align-items:center;
    padding: 5px 24px;
}

.comment-box form {
  border: 1px solid #dcdcdc;
  padding: 0px 20px 4px 0px;
  width: 500px;
  height: 30px;
  border-radius: 9px;
}

.header__items form {
border: 1px solid #dcdcdc;
  padding: 0px 20px 4px 0px;
  width: 300px;
  height: 30px;
  border-radius: 9px;
}

.header__items input{
width:200px;
border: none;
outline:0!important;
}

.comment-box textarea {
    resize:inherit;
    border-radius:10px;
  border: none;
  margin: 0;
outline:0!important;
  -webkit-appearance: none;
  height: 29px;
  vertical-align: top;
  font-weight: 300;
  font-size: 13px;
  width: 360px;
}

.comment-box button,
.header__items button {
  border: none;
  margin: 0;
  padding: 7px 0 0 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: color .2s;
}

.post__comment__like button,
.like button,
.basket button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}



.card {
border: 1px solid #c4c4c4;
display:flex;
width: 100%;
background-color: #fff;
padding: 24px;
    margin-bottom: 20px;
}

.stats{
  background: #f2f5f8 !important;
  color: #000 !important;
  padding: 24px;
    margin-bottom: 5px;
}
.articles,
.followers,
.following {
  color: #a1aab9;
  text-align:center;
}
.number1,
.number2,
.number3 {
  font-weight:400;
  text-align:center;
}

.user_photo {
border-radius: 100px;
   object-fit: cover;
}

.mb-0 {
font-weight: 700;
font-size:25px;
}
.button_profile {
display:flex;
align-items:center;
justify-content:center;
}

.btn-profile {
border: 1px solid #dcdcdc;
border-radius: 9px;
padding:5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    transition: color .2s;
    font-size:15px;
    margin:5px;
}

.card_profile {
display:flex;
align-items:center;
width:100%
}

.all_articles {
width:100%;
padding:0 20px 0 25px;
margin-top:2px;
display:flex;
justify-content:space-between;

}

.articles_profile {
display:flex;
flex-direction:column;
}

TD {
    vertical-align: top; /* Выравнивание по верхнему краю ячейки */
    padding:0 1px 0 1px;
   }
   #col1 {
    width: 202px; /* Ширина первой колонки */
    height:202px;
    background: #fc0; /* Цвет фона первой колонки */
   }
   #col2 {
    width: 202px; /* Ширина второй колонки */
    height:202px;
    background: #f0f0f0; /* Цвет фона второй колонки */
   }
   #col3 {
    width: 202px; /* Ширина третьей колонки */
    height:202px;
    background: #fc0; /* Цвет фона третьей колонки */
   }
  </style>




