<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olgagram</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %}{% endblock styles %}
</head>
<body>
<div class="header">
    <div class="header__container container">
        <a href="{% url 'index' %}"> <img src="{% static 'icons/olga3.png' %}"
             alt="logo"></a>
        <div class="header__items">
            <form class="d-flex" action="{% url 'post-search' %}" method="post">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="content">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
            <div class="header__items">
                <a href="{% url 'logout' %}"><img class="header__item" style="width:40px;height:40px;"
                                                  src="{% static 'icons/log-out.png' %}"
                                                  alt="profile"></a>

        </div>
    </div>
</div>
{% block content %}{% endblock content %}
<div class="footer">
    <div class="footer__container container">
        <div class="footer__items">
            <div class="footer_bar">
                <a href="{% url 'index' %}"><img class="footer__item"
                                                 src="{% static 'icons/home.png' %}"
                                                 alt="home"></a>
            </div>
            <div class="footer_bar">
               <a href="{% url 'post-create' %}"> <img class="footer__item" style="width:60; height:60;"
                     src="{% static 'icons/add_post.png' %}"
                     alt="add"></a>
            </div>
            <div class="footer_bar">
               <a href="{% url 'user_account' user.id %}"><img class="footer__item"
                     src="{% static 'icons/profile.png' %}"
                     alt="profile"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>