{% extends "header.html" %}

{% load static %}

{% block content %}
<body>
<div class="container">
 {% if accounts %}
    <div class="stories">
        {% for account in accounts %}
        <div class="story">
             <div class="story__gr">
                <img src="{{ account.photo.url }}"
                     alt="photo" class="story__gr-img">
            </div>
            <span class="story__name"><a href="{{ account.get_user_url }}" style="text-decoration: none;color:black;">{{account.user}}</a></span>
        </div>
{% endfor %}
    </div>
{% endif %}
    {% for post in posts_recent %}
    <div class="post">
        <div class="post__header">
            <a href="{{ post.user.profile.first.get_user_url }}" style="text-decoration: none;color:black;">
            <img class="post__publisher-image"
                 src="{{post.user.profile.first.photo.url}}"
                 alt="avatar">
            <span class="post__publisher-name">{{post.user}}</span>
            </a>
        </div>
        <img class="post__img"
             src="{{post.cover.url}}"
             alt="post_1">
        <div class="post__footer">
            <div class="like">
                <a href="{% url 'post-comment' id=post.id %}"><img class="comment__image"
                                                                   src="{% static 'icons/comment.png' %} "
                                                                   alt="comment"></a>
                {% if user not in post.likes.all %}
                <form action="{% url 'blog-post-likes' %}" method="post" class="like-form">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{post.id}}">
                    <button type="submit" class="link-primary btn">
                        <img style="margin-right: 16px;"
                             src="{% static 'icons/like_off.svg' %}">
                    </button>
                </form>
                {% else %}
                <form action="{% url 'blog-post-likes' %}" method="post" class="like-form">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{post.id}}">
                    <button type="submit" class="link-primary btn">
                        <img style="margin-right: 16px;"
                             src="{% static 'icons/like_on.svg' %}"></button>
                </form>
                {% endif %}
                <span class="like__text">{{post.likesCount}} отметок "Нравится"</span>
            </div>
            <div class="description">
                <div class="description__publisher"><a href="{{ post.user.profile.first.get_user_url }}" style="text-decoration: none;color:black;"> {{post.user}}</a></div>
                <div class="description__text">{{post.content}}</div>
            </div>
        </div>
        <div class="post__comment">
            <div class="view_all_comments">
                <a href="{% url 'post-comment' id=post.id %}" style="text-decoration: none;"><span
                        class="all_comments">Посмотреть все {{post.commentsCount}} комментарии</span></a>
            </div>
            {% if post.comments.all %}
            {% for comment in post.comments.all %}
            {% if forloop.counter <= 2 %}
            <div class="description__comment">
                <div class="post__publisher-image">
                    <a href="{{ comment.user.profile.first.get_user_url }}" style="text-decoration: none;color:black;">
                    <img class="post__publisher-image" src="{{comment.user.profile.first.photo.url}}" alt="photo">
                        </a>
                </div>
                <div>
                    <div class="description__publisher__comment"><a href="{{ comment.user.profile.first.get_user_url }}" style="text-decoration: none;color:black;">{{comment.user}}</a></div>
                    <div class="description__text__comment"> {{ comment.content }}</div>
                </div>
                <div class="post__comment__like" style="margin-left: auto">
                    {% if user not in comment.likes.all %}
                    <form action="{% url 'blog-comment-likes' %}" method="post" class="follow-form">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{comment.id}}">
                        <button type="submit" class="link-primary btn">
                            <img class="like__comment-img"
                                 src="{% static 'icons/like_off.svg' %}">
                        </button>
                    </form>
                    {% else %}
                    <form action="{% url 'blog-comment-likes' %}" method="post" class="follow-form">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{comment.id}}">
                        <button type="submit" class="link-primary btn">
                            <img class="like__comment-img"
                                 src="{% static 'icons/like_on.svg' %}"></button>
                        <span class="like__text">{{comment.likesCount}}</span>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="published">
                <span class="published_date"> {{ post.published_date|timesince }} ago</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>

{% endblock content %}