{% extends "header.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card_profile">
            <div class="image" style='margin-right:24px;'>
                <img src="{{otherUser.photo.url}}"
                     class="user_photo" width="150">
            </div>
            <div class="ml-3" style="width:100%">
                <h4 class="mb-0 mt-0">{{otherUser.user}}</h4>
                <span style="margin-bottom:20px;">{{otherUser.bio|linebreaksbr}}</span>
                <div class="all_articles rounded text-white stats">
                    <div class="articles_profile">
                        <span class="articles">Posts</span>
                        <span class="number1">38</span>
                    </div>
                    <div class="articles_profile">
                        <span class="followers"><a href='{% url "user-followers" %}' class="followers" style="text-decoration:none;">Followers</a></span>
                        <span class="number2">{{otherUser.followsCount}}</span>
                    </div>
                    <div class="articles_profile">
                        <span class="following"><a href='{% url "user-following" %}' class="following" style="text-decoration:none;">Following</a></span>
                        <span class="number3">{{otherUser.followersCount}}</span>
                    </div>
                </div>
                <div class="button_profile">
                    {% if user != otherUser %}
                        {% if otherUser in user.follows.all %}
                        <form action="{% url 'user-follows' %}" method="post" class="follow-form">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="otherUser.id">
                            <button type="submit" class="btn-profile">Unfollow</button>
                        </form>
                        {% else %}
                        <form action="{% url 'user-follows' %}" method="post" class="follow-form">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{otherUser.id}}">
                            <button type="submit" class="btn-profile">Follow</button>
                        </form>
                        {% endif%}
                    {% else %}
                    <a href="{% url 'user-edit' %}" class="btn-profile">Edit Profile</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% for post in otherUser.posts.all %}
    <div class="post">
        <a href="{% url 'post-comment' id=post.id %}" style="text-decoration: none;">
            <img class="post__img"
                 src="{{post.cover.url}}"
                 alt="post_1">
        </a>
    </div>
    {% endfor %}
</div>
</table>
</div>

{% endblock content %}